.notfound__container{ 
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .notfound__container {
    width: 360px;
    position: relative;
    z-index: 1;
    background: white; /*var(--main-bg-color);*/
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 28px;
    margin-bottom: 1rem;
    text-align: center;
    color: #1e40af;
  }
  
  p {
    margin: 15px 0 0;
    color: #d35151; /*var(--default-grey-color);*/
    font-size: 16px;
    text-align: center;
  }

  p a {
    color: #1e40af;/*var(--second-color);*/
    text-decoration: none;
  }

  hr{
    margin: 1rem 0;
    border: 0;
    height: 1px;
    background-color: var(--default-grey-color);
  }

  

}
