.dashboard__header {
    width: 100%;
    height: 80px;
    padding: 2rem 3rem;
    background-color: var(--main-bg-color);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    padding: 0rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

section {
    width: 100%;
    align-items: center;
    padding: 2rem;
    /* border: 2px solid blue; */
}

aside {
    /* width: 240px; */
    width: 100%;
    background-color: var(--dark-green);
    padding: 1rem;
    /* border: 2px solid green; */
    border-radius: 0 0 20% 20%/ 0 0 5% 5%;
}

aside>a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: var(--main-bg-color);
    text-decoration: none;
}

aside>a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.logout {
    justify-content: end;

    img {
        width: 25px;
    }
}

.logo {
    display: flex;
    width: 25%;
    justify-content: flex-start;

    img {
        width: 3rem
            /* 48px */
        ;
        height: 3rem
            /* 48px */
        ;
    }
    justify-content: start;
}


@media (min-width: 450px) {
    & main {
        flex-direction: row;
    }

    & aside {
        width: 240px;
        border-radius: 0 0 20% 0/ 0 0 5% 0;
    }
}