.search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;

    input{
        width: 100%;
        max-width: 400px;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid var(--secondary-highlight);
        font-size: 16px;

        &:disabled{
            border: 2px solid lightgray;
        }

        &:focus{
            outline: none;
            padding: 9px;
            border: 3px solid var(--secondary-color);
        }
    }

    button{
        margin-left: 10px;
        padding: 12px 20px;
        background-color: var(--secondary-color);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;

        &:hover{
            background-color: var(--primary-color);
            color: var(--secondary-color);
            margin-left: 6px;
            box-sizing: border-box;
            font-weight: bold;
        }

        &:active{
            background-color: var(--primary-color);
            transform: scale(0.95);
        }
    }

    &:has(input:disabled) button{
        background-color: gray;
    }
}

