@import "tailwindcss";

@theme {

  /*https://www.tailwindshades.com/#color=0%2C0%2C14.117647058823529&step-up=8&step-down=11&hue-shift=0&name=dark&base-stop=5&v=1&overrides=e30%3D*/
  --color-mydark: oklch(26.032% 0 none);
  /*#242424*/
  --color-mydark-50: oklch(59.987% 0 none);
  --color-mydark-100: oklch(56.584% 0 none);
  --color-mydark-200: oklch(49.261% 0 none);
  --color-mydark-300: oklch(42.024% 0 none);
  --color-mydark-400: oklch(34.07% 0 none);
  --color-mydark-500: oklch(26.032% 0 none);
  --color-mydark-600: oklch(13.441% 0 none);
  --color-mydark-700: oklch(0% 0 none);
  --color-mydark-800: oklch(0% 0 none);
  --color-mydark-900: oklch(0% 0 none);
  --color-mydark-950: oklch(0% 0 none);

  --color-pastel-green: oklch(82.065% 0.21122 144.39);
  --color-pastel-green-50: oklch(99.216% 0.00742 151.89);
  --color-pastel-green-100: oklch(96.923% 0.03101 146.81);
  --color-pastel-green-200: oklch(92.621% 0.08131 146.45);
  --color-pastel-green-300: oklch(88.766% 0.12876 145.87);
  --color-pastel-green-400: oklch(85.028% 0.17308 145.16);
  --color-pastel-green-500: oklch(82.065% 0.21122 144.39);
  --color-pastel-green-600: oklch(78.783% 0.24779 143.37);
  --color-pastel-green-700: oklch(67.048% 0.21372 143.27);
  --color-pastel-green-800: oklch(53.474% 0.1683 143.34);
  --color-pastel-green-900: oklch(38.669% 0.11788 143.48);
  --color-pastel-green-950: oklch(30.897% 0.09103 143.71);
  
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*https://openreplay.com/tools/hex-to-oklch/*/
  --bg-color-dark: #242424;
  /*oklch(26.03% 0.000 0)*/

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /*Assests na SRC: URL realtivo ao caminho a partir 
    do local do arquivo css (styles/index.css) para o local da imagem (../assets/img/)*/
  background-image: url('../assets/imgs/front-end-wallpapers.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: var(--bg-color-dark); */
  @apply bg-mydark-300;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  body {
    background-color: #dceded;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}